services:
  app:
    restart: unless-stopped
  database:
    restart: unless-stopped
  cache:
    restart: unless-stopped
  backend:
    restart: unless-stopped
    environment:
      PUBLIC_URL: 'https://DOMAIN/api'

      SECRET: 'TODO'

      CORS_ORIGIN: 'array:http://localhost:8080,http://localhost:5174,https://DOMAIN'
      PASSWORD_RESET_URL_ALLOW_LIST: "https://DOMAIN/set-new-password/"

      ADMIN_EMAIL: 'TODO'
      ADMIN_PASSWORD: 'TODO'

      EMAIL_FROM: 'TODO'
      EMAIL_TRANSPORT: "smtp"
      EMAIL_SMTP_HOST: "MAILSERVER"
      EMAIL_SMTP_PORT: "465"
      EMAIL_SMTP_POOL: false
      EMAIL_SMTP_SECURE: true
      EMAIL_VERIFY_SETUP: true
      EMAIL_SMTP_IGNORE_TLS: true
      EMAIL_SMTP_TLS: true
      EMAIL_SMTP_TLS_REJECT_UNAUTHORIZED: false
      EMAIL_SMTP_NAME: "EMAILNAME"