name: test:lint:lib

on: push

jobs:
  files-changed:
    name: Detect File Changes - lint - lib
    runs-on: ubuntu-latest
    outputs:
      lint: ${{ steps.filter.outputs.lint }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4.1.7
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            lint:
              - '.github/workflows/**/*'
              - 'lib/**/*'

  lint:
    if: needs.files-changed.outputs.lint == 'true'
    name: Lint - lib
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4.1.7
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.0.3
        with:
          node-version-file: '.tool-versions'
      - name: Lint
        run: npm install && npm run test:lint:eslint
        working-directory: lib/
